.container-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    
    gap: 5px;
}

.scroll-item {
    flex: 0 0 auto;
    width: 18rem; /* Ajusta el ancho según tus necesidades */
    margin-right: 5px; /* Espacio entre elementos */
}

.scroll-item.paused {
    animation-play-state: paused;
}

.golden-shadow {
    background-color: antiquewhite;
    box-shadow: 10px 10px 20px rgba(255, 215, 0, 0.7);
    margin: 5px;
}

.body {
    background-image: url('https://wallpapercave.com/wp/wp4575212.jpg');
    padding-bottom: 5rem;
}

h2 {
    color: antiquewhite;
    text-shadow: 10px 10px 20px rgba(255, 215, 0, 0.7);
}

.text-h2 {
    padding-top: 4rem;
}
